<f:layout name="Default" />
<f:section name="Main">
    <div class="container" >
        <div class="row content">
          <div class="col">
             <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
           </div>
           <div class="col-sm-3">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
          </div>
        </div>
    </div>
</f:section>
