{namespace p=EvangelischeGemeenteParousiaZoetermeer\Parousiazoetermeer\ViewHelpers}
<script type="text/javascript">
$(function() {
  // ------------------------------------------------------- //
  // Multi Level dropdowns
  // ------------------------------------------------------ //
  $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
    event.preventDefault();
    event.stopPropagation();
	parnt= $(this).parents('ul.dropdown-menu').first();
	parnt.find('ul.dropdown-menu.show').removeClass("show");

	$(this).siblings().toggleClass("show");

    if (!$(this).next().hasClass('show')) {
      $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
    }
    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
      $('.dropdown-submenu .show').removeClass("show");
    }); 

  });
});
</script>

<div class="d-flex p-0 bg-primary text-white">
	<img class="d-block ml-2 mr-2 mb-0" src="{f:uri.resource(path:'Icons/Icon_Parousia_Zoetermeer.jpg', extensionName: 'parousiazoetermeer')}" alt="" style="height:54px">
	<f:security.ifAuthenticated>
		<f:then>
		<form method="post" name="search" class="form-inline my-1 my-lg-2 mx-auto bg-white flex-nowrap" id="searchpers" action="<p:user fieldname="mysearch" />?tx_churchpersreg_persoonsearch%5Baction%5D=selectedList&amp;tx_churchpersreg_persoon%5Bcontroller%5D=Persoon">
<div>
</div>

	        <input type="hidden" name="tx_churchpersreg_persoon[search][bezoeker]" value="is bezoeker" />	
			<div class="input-group p-0">
 				<input placeholder="wie zoek je?" class="form-control m-0 pt-0 pb-0" id="persoon-general" title="Als met Google op alle rubrieken van personen zoeken naar opgegeven woorden" type="text" name="tx_churchpersreg_persoon[search][general]" />
				<button class="btn-link bg-white border" type="submit" name="" value=""><i class="fa fa-search"></i></button>
			</div>
	    </form>
		</f:then>
		<f:else>
		</f:else>
	</f:security.ifAuthenticated>
	<f:security.ifAuthenticated>
		<f:then>
			<div class="dropdown">
				<button class="btn dropdown-toggle bg-primary d-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<div class="visual-with-badge">
					<div style="align-items: center; display: inline">
						<svg class="icon-svg icon-svg-size-6" aria-hidden="true" viewBox="0 0 32 32" focusable="false">
		                <path d="M20 20c4.7 0 10 3.3 10 8a2 2 0 0 1-4 0c0-2-3-4-6-4h-8c-3 0-6 2-6 4a2 2 0 0 1-4 0c0-4.7 5.3-8 10-8h8zM16 2a8 8 0 1 1 0 16 8 8 0 0 1 0-16zm0 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"></path>
		            	</svg>
					</div>
					<div class="visual-with-badge__badge visual-with-badge__badge--top-right">
						<svg class="icon-svg icon-svg-size-4 icon-svg--color-green" aria-hidden="true" viewBox="0 0 32 32" focusable="false">            
	                	<path d="M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32"></path>
	                	<path fill="#FFF" d="M23.6 13.2l-7 9a2 2 0 0 1-3 .2l-5-5a2 2 0 1 1 2.8-2.8l3.4 3.4 5.6-7.2a2 2 0 1 1 3.2 2.4"></path>            
            			</svg>
                    </div>
				</div>
				<span area-expanded="false" style="vertical-align: middle;" id="roepnaam" class="d-none d-sm-inline text-white"></span>
				</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
				     <a class="dropdown-item" href="<p:user fieldname="myprofile" />" >Mijn gegevens</a>
				     <a class="dropdown-item" href="<p:user fieldname="mygifts" />">Mijn gavenprofiel</a>
				     <a class="dropdown-item" href="<p:user fieldname="my2FA" />">2-staps verificatie</a>
				     <a class="dropdown-item" href="<p:user fieldname="mylogoff" />">Uitloggen</a>
				</div>
			</div>
		</f:then>
		<f:else>
			<a type="button" class="btn bg-primary ml-auto mb-0" title="Inloggen" href="<p:user fieldname="mylogin" />">
				<div style="align-items: center; display: inline">
				<svg class="icon-svg icon-svg-size-6" aria-hidden="true" viewBox="0 0 32 32" focusable="false">
                <path d="M20 20c4.7 0 10 3.3 10 8a2 2 0 0 1-4 0c0-2-3-4-6-4h-8c-3 0-6 2-6 4a2 2 0 0 1-4 0c0-4.7 5.3-8 10-8h8zM16 2a8 8 0 1 1 0 16 8 8 0 0 1 0-16zm0 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"></path>	            
            	</svg></div>
			</a>
		</f:else>
	</f:security.ifAuthenticated>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Parousia Zoetermeer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <f:for each="{mainnavigation}" as="mainnavigationItem" iteration="mainitr">  
          <f:if condition="{mainnavigationItem.children}">
              <f:then>
                <li class="nav-item dropdown {f:if(condition: mainnavigationItem.active, then:'active')}"> <!--#level 0 met sub -->
                <a class="nav-link dropdown-toggle" href="{mainnavigationItem.link}" id="navbarDropdown{mainitr.index}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {mainnavigationItem.title}
                </a>
               <ul aria-labelledby="navbarDropdown{mainitr.index}" class="dropdown-menu" style="background-color:#b4f0f0;top:95%">
               <f:for each="{mainnavigationItem.children}" as="subitem" iteration="subitr">

	          		<f:if condition="{subitem.children}">
				  	<f:then>
					   <li class="dropdown-submenu {f:if(condition: subitem.active, then:'active')}">  <!--#level 1 met sub -->
                       	<a id="subDropdown{subitr.index}" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle" href="{subitem.link}"aria-haspopup="true" aria-expanded="false">{subitem.title}</a>
		                  <ul aria-labelledby="subDropdown{subitr.index}" class="dropdown-menu" style="background-color:#b4f0f0">
			              <f:for each="{subitem.children}" as="subsubitem">
	        		 		<li><a class="dropdown-item" href="{subsubitem.link}">{subsubitem.title}</a></li>  <!--#level 2 -->
					      </f:for>
					      </ul>
					   </li>
				  	</f:then>
					<f:else>
						<li><a class="dropdown-item" href="{subitem.link}">{subitem.title}</a>  <!-- #level 1 -->
						</li>
					</f:else>
				  </f:if>
                </f:for>
                </ul>
                </li>
             </f:then>
             <f:else>
                  <li class="nav-item {f:if(condition: mainnavigationItem.active, then:'active')}">  <!--#level 0 -->
                  <a class="nav-link" href="{mainnavigationItem.link}">{mainnavigationItem.title} <span class="sr-only">(current)</span></a>
                  </li>
             </f:else>
          </f:if>
      </f:for>
     </ul>
  </div>
</nav>
<script>
$('#navbarSupportedContent').ready(function() {
var rpn=$.cookie("roepnaam");
$('#roepnaam').text(rpn);
$('#persoon-general').attr('placeholder',rpn+', wie zoek je');

});
</script>

<f:render section="Main" />
<footer class="footerpar">

<div class="container text-center text-white h6 bg-primary mt-5"  style="padding:0.3rem">
<a class="d-none d-inline text-white" href="<p:user fieldname="privacystatement" />">Privacyverklaring</a> 
<div>Wattstraat 64, 2723 RD Zoetermeer, 079-3478548</div>
</div>
</footer>
