.icon-svg{
	display:inline-block;
	fill: white;
	vertical-align: middle;
}
.icon-svg-size-6{
	height: 2.4rem;
	width: 2.4rem;
}
.icon-svg-size-4{
	height: 1.6rem;
	width: 1.6rem;
}
.icon-svg--color-green {
    fill: #00b900;
   	color: #00b900;
}
.visual-with-badge__badge--top-right {
    top: 0;;
	right:0;
    transform: translate(.8rem,-50%);
}
.visual-with-badge__badge {
    position: absolute;
}
.visual-with-badge {
    display: inline-block;
    position: relative;
}
.ce-gallery figcaption {
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
    font-weight: 500;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.errorMessage {
	width: 100%;
	background-color: #FFFF66;
	border: 2px solid red;
	font-weight: bold;
	display: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
/*  float: right; */
  border: none;
  font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}
.zoekselect {
	display:none;
	z-index: 1000;
	overflow: visible;
	position: absolute;
	background-color: white;
	width: 250px;
	margin-left: 0px;
	margin-top: 2px;
	padding: 3px 5px;
	border-style:solid;
	border-width:1px;
}
.zoekselect ul {
	list-style:none inside none; 
	margin:0px; 
	z-index: 2000;
	adding:0px;
	cursor:default;
}
.zoekselect li{
	font-size:12px;
	margin-bottom:0px;
}
.zoekselect li:hover {
	background-color: rgb(222, 223, 224);
}
.footerpar {
    position: absolute;
    bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.alternate-row{background:#d1e8f6;}

.labelchurchadmin{
	font-weight: 700;
	vertical-align: top;
}
.tx-persoon td {
	vertical-align: top;
}
.border-1{
 border-style:solid;
 border-width: 1px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.breadcrumb a::after{ content:"/ ";}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}